 *{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
#header{
	min-height: 450px;
	color: #fff;
}

#footer{
	position: absolute;
	font-size: small;
	color: #fff;
	background-color: #262626;
	display: flex;
	width: 100vw;
	height: 4rem;
}

#header .bg-image{
	background: #333 url('/landingpage_pic.jpg');
	background-position: ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: -1;
	text-align: center;
	position: absolute;
		
}
#title-name{
	display: inline-block;
	position: relative;
	margin: 200px 200px;

} 
#nav-bar{
	justify-content: space-between;
}

#contact{
	min-height: 450px;
	color: #fff;
}

#contact .contactUs-bg-image{
	background: #333 url('/contactUsbackground.jpg');
	background-position: ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: -1;
	text-align: center;
	position: absolute;
		
} 
