@import url('https://fonts.googleapis.com/css?family=Muli');
* {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Muli';
}

.banner-text{
	opacity: 8;
	width: auto;
	margin: auto;
	border-radius: 10px;
	align-self: left;
}
.banner-text h1{
	font-size: 56px;
	font-weight: bold;
	color: white;
	margin:auto;
}

.banner-text hr{
	width: 50%;
	margin:auto;
	
}
.banner-text p {
	color: white;
	font-size: 20px;
	padding: 1em;
}

.imageAbout{
  background: #333 url('/logo1.jpg');
  fontSize: "20px";
  borderTop: "1px solid #E7E7E7";
  textAlign: "center";
  padding: "10px";
  left: "0";
  bottom: "0";
  height: "380px";
  width: "50%";
}

#header{
	min-height: 450px;

}
.headerMain{

}
#header .bg-image{
	background: #333 url('/landingpage_pic.jpg');
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: start;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	z-index: -1;
	padding: 1rem;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	justify-content: center;
	box-shadow: var(--shadow);
	
}
#title-name{
	display: inline-block;
	position: relative;
	margin: 200px 200px;
}

.info {
    grid-template-columns: 1fr;

  }


.learning{
	background: #333 url('/molecule.jpg');
	background-position: center;
	background-size: cover;
	align-items: start;
	z-index: -1;
	text-align: center;
	justify-content: center;
	box-shadow: var(--shadow);
	position: relative;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 0 20px;	
}

.learning h1{
	color: black;
	
}
.learning h4{
	font-size: 25px;
	color: black;

}


#bigtext{
	color: #000000;

}

#bigtext .biiiig-image{
	background-color: #A8A4D4;
	background-position: center;
	background-size: cover;
	align-items: start;
	display: flex;
	z-index: -1;
	text-align: center;
	justify-content: center;
	box-shadow: var(--shadow);
	position: relative;
	padding: 20px 20px;
}


#showcase .button{
	font-size: 20px;
	text-decoration: none;
	color: var(--light);
	border:  #926239 1px solid;
	padding: 0.6rem 1.3rem;
	border-radius: 10px;
	margin-top: 20px;
}

#showcase .button:hover{
	background:#926239;
	color: #ffff;
}


.appBar{
	position: static;
	background: transparent;
	box-shadow: none;
}

.navbar{
	background-color:white;
  	position: sticky;
  	top: 0px;
  	width: 100%;
  	height: 100px;
  	z-index: 1000;
  	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
	align-items: center;
	display: block;
	text-align: left;
 	padding: 0.5em;
 	justify-content: space-between;
}

.navbar-logo {
  height: 80px;
  width: 100px;
  float: left;

}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar .navbar-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
  font-size: 10px;
  font-weight: bold;
}


.navbar-item:hover {
  color: black;
  cursor: pointer;
}
.navbar > .active {
	background-color: #DCDCDC;
}

/*CSS for logo icon*/
.navbar-brand{
	display: flex;
	align-items:center;
}
.navbar-brand >img{
	padding: 7px 14px;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
#main{
	position: relative;
}
.courses{
	height: 100vh;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.about {
	padding-left: 30px;
	padding-right: 30px;
}


.social-container {
  background: #C71585;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}


a.facebook {
  color: #0000CD;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}