*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
.container{
	display:grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
	grid-template-areas: 
		"nav nav nav nav";
}
#nav{
	grid-area: nav
}
#header{
	min-height: 450px;
	color: #fff;
}
.headerMain{

}
#header .bg-image{
	background: #333 url('/imageSub.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: start;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	z-index: -1;
	padding: 3rem;
	text-align: center;
	position: absolute;
	margin-bottom: 20px;
	justify-content: center;
	box-shadow: var(--shadow);
}
#title-name{
	display: inline-block;
	position: relative;
	margin: 200px 200px;
}

.info {
    grid-template-columns: 1fr;
  }

#showcase{
	background: #333 url('/kidsnlaptop.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 0 20px;
	position: relative;
}



#bigtext{
	min-height: 450px;
	color: #fff;
}

#bigtext .biiiig-image{
	background: #333 url('/kidsnlaptop.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: start;
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	z-index: -1;
	padding: 3rem;
	text-align: center;
	position: absolute;
	margin-bottom: 5px;
	justify-content: center;
	box-shadow: var(--shadow);
}
#showcase h1{
	font-size: 50px;
	line-height: 1.2;
}
#showcase p{
	font-size: 20px;

}

#showcase .button{
	font-size: 20px;
	text-decoration: none;
	color: var(--light);
	border:  #926239 1px solid;
	padding: 0.6rem 1.3rem;
	border-radius: 10px;
	margin-top: 20px;
}

#showcase .button:hover{
	background:#926239;
	color: #ffff;
}


.appBar{
	position: static;
	background: transparent;
	box-shadow: none;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}